body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/************
*HEADER MENU* 
************/
.header_menu {
  width: 100vw;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_menu .name {
  font-size: 30px;
  color: #2FD9DA;
  margin-left: 2vw;
}

.header_menu .right .header_logo {
  width: 40px;
  height: auto;
  margin-right: 3vw;
}

.header_menu .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header_menu .right div {
  margin-right: 3vw;
  padding: 2px;
  font-size: 20px;
}
.header_menu .right div a { text-decoration: none; }
.header_menu .right div a:link { color: #1e90ff; }
.header_menu .right div a:visited { color: #1e90ff; }
.header_menu .right div a:hover{ color: #3742fa; }
.header_menu .right div a:active{ color: #3742fa; }


/*************** 
* METEO WIDGET * 
***************/
.meteo_widget_geolocation {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.meteo_widget_geolocation .informations {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meteo_widget_geolocation .informations .location {
  display: flex;
  align-items: center;
}

.meteo_widget_geolocation .informations img{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.meteo_widget_geolocation .informations p.city {
  font-size: 30px;
  font-weight: 500;
  color: #1e90ff;
}

.meteo_widget_geolocation .informations .days p {
  color: #F1F1F1;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border: 3px solid #1e90ff;
  border-radius: 20px;
  background: #1e90ff;
  cursor: pointer;
}

.meteo_widget_geolocation .informations .days p:hover {
  color: #3742fa;
  background: #F1F1F1;
}

.meteo_widget_geolocation .container {
  width: 280px;
  height: 350px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.meteo_widget_geolocation .container .day_name,
.meteo_widget_geolocation .container .date,
.meteo_widget_geolocation .container .temperature,
.meteo_widget_geolocation .container .humidity,
.meteo_widget_geolocation .container .prevision,
.meteo_widget_geolocation .container .rain{
  margin-bottom: 10px;
  text-align: center;
}

.meteo_widget_geolocation .container .day_name{
  font-weight: 700;
  font-size: 25px;
}

.meteo_widget_geolocation .container .prevision {
  padding: 10px;
}

.meteo_widget_geolocation .container .section1 {width: 280px; position: absolute; padding: 10px;}
.meteo_widget_geolocation .container .section2 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section3 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section4 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section5 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section6 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section7 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section8 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section9 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section10 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section11 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section12 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section13 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section14 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section15 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section16 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section17 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section18 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section19 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section20 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section21 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section22 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section23 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section24 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section25 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section26 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section27 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section28 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section29 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section30 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section31 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section32 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section33 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section34 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section35 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section36 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section37 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section38 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section39 {width: 280px; position: absolute; display: none; padding: 10px;}
.meteo_widget_geolocation .container .section40 {width: 280px; position: absolute; display: none; padding: 10px;}


/*********************** 
* SELECT LOCATION PAGE *
***********************/

input[type="text"].input_location {
  font-size: 15px;
  text-align: center;
}